body{
    margin:0;
    font-family:Arial,sans-serif;
    background:#12003b;
    color:white;
}

.header{
    background:#5b1fd1;
    padding:30px;
    text-align:center;
    font-size:35px;
    font-weight:bold;
    border-radius:0 0 30px 30px;
}

.section{
    padding:20px;
}

.menu{
    display:flex;
    justify-content:space-around;
    flex-wrap:wrap;
    gap:15px;
}

.item{
    width:90px;
    text-align:center;
}

.item a{
    text-decoration:none;
    color:white;
}

.icon{
    width:65px;
    height:65px;
    background:#7b2cff;
    border-radius:50%;
    margin:auto;
    line-height:65px;
    font-size:28px;
}

.bottom{
    position:fixed;
    bottom:0;
    width:100%;
    background:#111;
    display:flex;
    justify-content:space-around;
    padding:15px 0;
}